<head>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script>
        firebase.initializeApp(firebaseConfig);
        let userRestau = "";
        let userName = "";
        let userPhoto = "";
        const restauIdsH = [];
        db.collection('business_users').where('uid', '==', getCookie('userID')).get().then(snapshot => {
            snapshot.docs.forEach(doc => {
                restauIdsH.push(doc.data().restauId);
                userName = doc.data().displayName;
                userPhoto = doc.data().photoURL;
                document.getElementById("u_name").innerHTML = userName;
                document.getElementById("u_photo").setAttribute("src", userPhoto);
            });
            db.collection('restaurants').where('id', '==', restauIdsH[0]).get().then(snapshot => {
                snapshot.docs.forEach(doc => {
                    userRestau = doc.data().name;
                    document.getElementById("restauName-profile").innerHTML = userRestau;
                });
            });
        });
    </script>
</head>

<div class="section-nav wf-section">
    <div class="container-aside w-container">
        <div class="layout-aside">
            <a href="#" class="wrapper__logo w-inline-block"><img src="images/logo-easyclick.svg" loading="lazy"
                    alt=""></a>
            <div class="w-layout-grid layout-grid-nav">
                <a href="/home-dashboard" aria-current="page" class="wrapper__nav-item w-inline-block w--current">
                    <div class="wrapper__nav-infos"><img src="images/home-current.svg" loading="lazy" alt=""
                            class="nav-icon-current">
                        <div class="nav-text">Tableau de bord</div>
                    </div>
                </a>
                <a href="/commandes" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/Commandes.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Commandes</div>
                    </div>
                    <div class="notification-bulle">
                        <div class="notification-bulle-info">
                            <%= nbOrders %>
                        </div>
                    </div>
                </a>
                <a href="/personnalisation" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/Personnalisation.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Personnalisation</div>
                    </div>
                </a>
                <a href="/avis" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/star-1.svg" loading="lazy" alt="" class="nav-icon">
                        <div class="nav-text">Avis</div>
                    </div>
                    <% if (avis) { %>
                        <div class="notification-bulle-avis"></div>
                        <% } %>
                </a>
                <a href="/menus" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/cutlery.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Le menu</div>
                    </div>
                </a>
                <a href="/horaires" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/calendar.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Horaires</div>
                    </div>
                </a>
                <a href="/moyens-de-paiement" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/wallet.svg" loading="lazy" alt="" class="nav-icon">
                        <div class="nav-text">Paiement</div>
                    </div>
                </a>
                <a href="/marketing" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/megaphone-2.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Marketing</div>
                    </div>
                </a>
                <a href="/utilisateurs" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/customer.svg" loading="lazy" alt=""
                            class="nav-icon">
                        <div class="nav-text">Utilisateurs</div>
                    </div>
                </a>
                <a href="/parametres" class="wrapper__nav-item w-inline-block">
                    <div class="wrapper__nav-infos"><img src="images/gear.svg" loading="lazy" alt="" class="nav-icon">
                        <div class="nav-text">Paramètres</div>
                    </div>
                </a>
            </div>
            <div class="wrapper__connexion-actu" id="profile">
                <div class="connexion-photo userinfos"><img id="u_photo" src="images/default_user.jpg" loading="lazy"
                        sizes="100vw" alt="" class="user-image"></div>
                <div class="connexion-info userinfos">
                    <div class="connexion-info-first">
                        <div id="u_name" class="connexion-info-first-text">Micheline</div>
                    </div>
                    <div class="connexion-info-second">
                        <div id="restauName-profile" class="connexion-info-second-text"></div>
                    </div>
                </div>
                <div data-hover="" data-delay="0" class="w-dropdown">
                    <div class="dropdown-toggle w-dropdown-toggle"><img src="images/plus.svg" loading="lazy" alt=""
                            class="plus-dropdown-image"></div>
                    <nav class="dropdown-list w-dropdown-list">
                        <a href="/sessionLogout" class="w-dropdown-link">Déconnexion</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overlayUser" style="opacity: 0;">
    <div class="popinUser">
        <form id="user-form" name="email-form" data-name="Email Form" class="personnalisation-form"
            style="display: flex;">
            <div class="wrapper__form1">
                <div class="sousnav-child">
                    <h3 class="form1-titre">Utilisateur</h3>
                </div>
                <div>
                    <label for="userName" class="field-label">Nom de l'utilisateur</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="userName" data-name="name"
                        placeholder="" id="userName">
                    <label for="userPhoto" class="field-label">Photo de profil</label>
                    <input type="file" class="text-field w-input" maxlength="256" name="userPhoto" data-name="Type 2"
                        placeholder="" id="userPhoto">
                    <div id="w-node-e51c5cc9-933f-0e2e-8443-efed4b5bf575-4db7ea70" class="submit-form"><input
                            type="submit" value="Sauvegarder" data-wait="Veuillez patienter"
                            class="submit-btn w-button"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("userinfos").forEach(item => {
            item.addEventListener("click", () => {
                document.getElementById("overlayUser").classList.add("active");
                document.getElementById("userName").value = userName;
            });
        });
        document.getElementById("overlayUser").addEventListener("click", (e) => {
            e.target.classList.remove("active");
        });

        let userFileUrl = "";

        document.getElementById("userPhoto").addEventListener("change", async (e) => {
            const file = e.target.files[0];
            const storageRef = firebase.storage().ref();
            const fileRef = storageRef.child(file.name);
            await fileRef.put(file);
            userFileUrl = await fileRef.getDownloadURL();
        });



        document.getElementById("user-form").addEventListener("submit", (e) => {
            e.preventDefault();
            let name = document.getElementById("userName").value;
            let photo = userFileUrl == "" ? userPhoto : userFileUrl;
            db.collection('business_users').where('uid', '==', getCookie('userID')).get().then(snapshot => {
                snapshot.docs.forEach(doc => {
                    doc.ref.set({ photoURL: photo, displayName: name }, { merge: true });
                });
            });
            window.location.reload();
        });
    });

</script>

<style>
    #profile {
        cursor: pointer;
    }

    #overlayUser {
        background-color: rgba(0, 0, 0, .3);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        opacity: 0 !important;
        pointer-events: none;
        transition: all .3s ease-in;
        cursor: pointer;
    }

    #overlayUser.active {
        opacity: 1 !important;
        pointer-events: all;
    }

    #overlayUser .popinUser {
        margin: auto;
    }

    #overlayUser .popinUser .field-label {
        margin-top: 1.5em;
    }

    #overlayUser .popinUser .submit-form {
        margin-top: 1.5em;
    }
</style>