<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Click - S'inscrire</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js" defer></script>
</head>

<body>
    <section class="wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="0 0 97.976 97.847">
            <g id="Groupe_221" data-name="Groupe 221" transform="translate(-274.912 -228.538)">
                <g id="Groupe_219" data-name="Groupe 219" transform="translate(279.356 232.904)">
                    <path id="Tracé_240" data-name="Tracé 240"
                        d="M330.341,288.408c-1.984.663-4.295.129-6.93-2.506-.268-.267-6.559-6.557-8.567-8.567a.862.862,0,0,1,0-1.221.912.912,0,0,1,1.289,0l7.941,7.941a.917.917,0,1,0,1.3-1.3l-7.941-7.941a.909.909,0,0,1,0-1.289l.007-.007a.91.91,0,0,1,1.289,0l7.941,7.941a.917.917,0,1,0,1.3-1.3l-7.941-7.941a.912.912,0,0,1,0-1.289l.007-.007a.913.913,0,0,1,1.291,0l7.939,7.941a.916.916,0,0,0,1.3-1.3l-7.941-7.941a.912.912,0,0,1,0-1.289.862.862,0,0,1,1.221,0l8.567,8.567c2.635,2.635,3.169,4.946,2.506,6.93a4.19,4.19,0,0,0,1.439,4.486l18.994,15.6a2.206,2.206,0,0,0,3.156-.379A44.7,44.7,0,1,0,350.059,312a2.208,2.208,0,0,0,.379-3.155l-15.61-19A4.188,4.188,0,0,0,330.341,288.408Z"
                        transform="translate(-278.295 -231.835)" fill="#207b76" />
                </g>
                <g id="Groupe_220" data-name="Groupe 220" transform="translate(291.93 245.307)">
                    <path id="Tracé_241" data-name="Tracé 241"
                        d="M309.665,259.253a1.886,1.886,0,0,1-1.887-1.887V242.274a1.886,1.886,0,1,1,3.772,0v15.092A1.886,1.886,0,0,1,309.665,259.253Z"
                        transform="translate(-277.592 -240.387)" fill="#fff" />
                    <path id="Tracé_242" data-name="Tracé 242"
                        d="M309.665,292.412a1.887,1.887,0,0,1-1.887-1.887V275.432a1.886,1.886,0,0,1,3.772,0v15.094A1.887,1.887,0,0,1,309.665,292.412Z"
                        transform="translate(-277.592 -225.453)" fill="#fff" />
                    <path id="Tracé_243" data-name="Tracé 243"
                        d="M303.944,264.974H288.852a1.887,1.887,0,1,1,0-3.774h15.092a1.887,1.887,0,1,1,0,3.774Z"
                        transform="translate(-286.965 -231.014)" fill="#fff" />
                    <path id="Tracé_244" data-name="Tracé 244"
                        d="M335.165,264.974H320.071a1.887,1.887,0,0,1,0-3.774h15.094a1.887,1.887,0,1,1,0,3.774Z"
                        transform="translate(-272.905 -231.014)" fill="#fff" />
                    <path id="Tracé_245" data-name="Tracé 245"
                        d="M303.6,258.41a1.38,1.38,0,0,1-.98-.4l-7.832-7.825a1.392,1.392,0,0,1,1.968-1.968l7.822,7.832a1.384,1.384,0,0,1-.98,2.364Z"
                        transform="translate(-283.624 -237.046)" fill="#fff" />
                    <path id="Tracé_246" data-name="Tracé 246"
                        d="M295.76,280.509a1.391,1.391,0,0,1-.985-2.374l7.864-7.862a1.39,1.39,0,0,1,1.965,1.965l-7.852,7.865A1.389,1.389,0,0,1,295.76,280.509Z"
                        transform="translate(-283.631 -227.104)" fill="#fff" />
                    <path id="Tracé_247" data-name="Tracé 247"
                        d="M317.833,258.436a1.391,1.391,0,0,1-.985-2.374l7.858-7.865a1.39,1.39,0,0,1,1.965,1.965l-7.854,7.865A1.387,1.387,0,0,1,317.833,258.436Z"
                        transform="translate(-273.69 -237.046)" fill="#fff" />
                </g>
                <path id="Tracé_248" data-name="Tracé 248"
                    d="M354.282,270.034a27.894,27.894,0,0,1-1.516,15.016,36.71,36.71,0,0,1-21.172,21.214,28.046,28.046,0,0,1-15.005,1.571l-.112-.022a.279.279,0,0,1-.013-.545,52.719,52.719,0,0,0,12.894-5.065,51.345,51.345,0,0,0,19.328-19.384,52.715,52.715,0,0,0,5.03-12.908.28.28,0,0,1,.545.012Z"
                    transform="translate(18.154 18.121)" fill="#207b76" />
                <path id="Tracé_250" data-name="Tracé 250" d="M276.813,252.043" transform="translate(0.393 10.169)"
                    fill="none" stroke="#207b76" stroke-miterlimit="10" stroke-width="1" />
                <path id="Tracé_322" data-name="Tracé 322"
                    d="M354.282,270.034a27.894,27.894,0,0,1-1.516,15.016,36.71,36.71,0,0,1-21.172,21.214,28.046,28.046,0,0,1-15.005,1.571l-.112-.022a.279.279,0,0,1-.013-.545,52.719,52.719,0,0,0,12.894-5.065,51.345,51.345,0,0,0,19.328-19.384,52.715,52.715,0,0,0,5.03-12.908.28.28,0,0,1,.545.012Z"
                    transform="translate(629.645 536.803) rotate(180)" fill="#207b76" />
            </g>
        </svg>
        <h1>Easy Click - Back Office</h1>

        <form id="signin-form" class="form" action="">
            <input id="email" type="email" name="mail" placeholder="E-mail">
            <input id="pwd" type="password" name="pwd" placeholder="Mot de passe">
            <input id="connecter-btn" type="submit" value="Se connecter">
        </form>
        <a href="/signup" class="lightText">Pas encore de compte&nbsp;? Créez-en un&nbsp;!</a>
    </section>
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const firebaseConfig = {
                apiKey: "AIzaSyAHzf4Q4RbL8Zu0nZ-tDIBhKog5XfdYA1g",
                authDomain: "udle-c3db5.firebaseapp.com",
                databaseURL: "https://udle-c3db5-default-rtdb.europe-west1.firebasedatabase.app",
                projectId: "udle-c3db5",
                storageBucket: "udle-c3db5.appspot.com",
                messagingSenderId: "329469301017",
                appId: "1:329469301017:web:9b3555937fe389e317f588"
            };

            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
            document.getElementById("signin-form").addEventListener("submit", (e) => {
                e.preventDefault();
                let email = document.getElementById("email").value;
                let pwd = document.getElementById("pwd").value;

                firebase.auth().signInWithEmailAndPassword(email, pwd).then(({ user }) => {
                    return user.getIdToken().then((idToken) => {
                        return fetch("/sessionLogin", {
                            method: "POST",
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                "CSRF-Token": Cookies.get("XSRF-TOKEN")
                            },
                            body: JSON.stringify({ idToken, user: user.uid })
                        });
                    });
                }).then(() => {
                    return firebase.auth().signOut();
                })
                    .then(() => {
                        window.location.assign("/home-dashboard");
                    });
                return false;
            });
        });
    </script>
</body>

</html>

<style>
    body {
        display: flex;
        background-color: #FAFAFA;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin: 2em 0;
        color: #343434;
    }

    .wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form>input {
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid;
        margin-bottom: 2em;
        padding: 1em 2em;
        color: #343434;
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
        border-color: #EAEAEA;
        background-color: white;
    }

    #connecter-btn {
        cursor: pointer;
        color: white;
        background-color: #207B76;
        font-weight: bold;
        transition: background-color .3s ease-in;
    }

    #connecter-btn:hover {
        background-color: #1d6b67;
    }

    .lightText {
        font-size: 0.8em;
        color: #343434;
        font-family: 'Open Sans', sans-serif;
    }
</style>